<%= render 'shared/errors', target: @contest %>

<%= form_for(@contest) do |f| %>
  <div class="form-group">
    <%= f.label :entry %><br>
    <%= f.number_field :entry, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :max_entries %><br>
    <%= f.number_field :max_entries, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :salary_cap %><br>
    <%= f.number_field :salary_cap,
      disabled: true,
      class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if @rounds.none?  %>
      <label>
        No available rounds
      </label>
    <% end %>
    <% @rounds.each do |round| %>
      <div class="radio">
        <label>
          <%= f.radio_button :round_id, round.id %>
          <%= round.name %> (<%= round.games.count / 2 %> Games)
        </label>
      </div>
    <% end %>
  </div>

  <%= f.submit "Create contest", class: 'btn btn-primary' %>
<% end %>
