<div class="col-md-12">
  <p>
    <strong>Entry:</strong>
    <%= @contest.entry %>
  </p>

  <p>
    <strong>Cap:</strong>
    <%= @contest.cap %>
  </p>

  <p>
    <strong>Settled at:</strong>
    <%= @contest.settled_at %>
  </p>

  <p>
    <%= link_to "Join",
      contest_entries_path(@contest),
      method: :post,
      class: 'btn btn-primary' %>
  </p>

  <%= link_to "Back", lobby_url, class: 'btn btn-default' %>
</div>
