<div class="col-md-12">
  <p>
    <strong>Entry:</strong>
    <%= @contest.entry %>
  </p>

  <p>
    <strong>Cap:</strong>
    <%= @contest.cap %>
  </p>

  <p>
    <strong>Closed at:</strong>
    <%= @contest.closed_at %>
  </p>

  <p>
    <strong>Won at:</strong>
    <%= @contest.won_at %>
  </p>

  <p>
    <strong>Cancelled at:</strong>
    <%= @contest.cancelled_at %>
  </p>

  <%= link_to 'Back', lobby_url %>

  <p>
    <%= link_to "Cancel",
      contest_path(@contest),
      data: { confirm: "Are you sure?" },
      method: :delete,
      class: 'btn btn-danger' %>
  </p>
</div>
