<table class="table">
  <tr>
    <th>
      Entry
    </th>
    <th>
      Vs
    </th>
    <th>
      Cap
    </th>
    <th>
      Closed
    </th>
    <th>
      Won
    </th>
    <th>
    </th>
  </tr>
  <% contests.each do |contest| %>
    <tr>
      <td>
        <%= link_to contest.user.email, contest %>
      </td>
      <td>
        <%= contest.entry %>
      </td>
      <td>
        <%= contest.cap %>
      </td>
      <td>
        <%= contest.closed_at || "na" %>
      </td>
      <td>
        <%= contest.won_at || "na" %>
      </td>
      <td>
        <%= link_to "View",
          contest_path(contest),
          class: 'btn btn-primary' %>
      </td>
    </tr>
  <% end %>
</table>
