<div class="table-responsive">
  <table class="table table-condensed">
    <tr>
      <th>
        Opponent
      </th>
      <th>
        Entry
      </th>
      <th>
        Prize
      </th>
      <th>
        Entries
      </th>
      <th>
        Cap
      </th>
      <th>
      </th>
    </tr>
    <% contests.each do |contest| %>
      <tr>
        <td>
          <%= link_to contest.user.email, contest %>
        </td>
        <td>
          <%= contest.entry %>
        </td>
        <td>
          <%= contest.prize  %>
        </td>
        <td>
          <%= contest.entries.count %> / <%= contest.max_entries %>
        </td>
        <td>
          <%= contest.salary_cap %>
        </td>
        <td>
          <%= link_to "View",
            contest_path(contest),
            class: 'btn btn-primary btn-xs' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
